In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('20190126',periods=6)
df1 = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])
df1

             A   B   C   D
2019-01-26   0   1   2   3
2019-01-27   4   5   6   7
2019-01-28   8   9  10  11
2019-01-29  12  13  14  15
2019-01-30  16  17  18  19
2019-01-31  20  21  22  23

In [4]:
df1['A'] # 将DataFrame的列获取为一个Series

2019-01-26     0
2019-01-27     4
2019-01-28     8
2019-01-29    12
2019-01-30    16
2019-01-31    20
Freq: D, Name: A, dtype: int32

In [5]:
df1.A # 同上

2019-01-26     0
2019-01-27     4
2019-01-28     8
2019-01-29    12
2019-01-30    16
2019-01-31    20
Freq: D, Name: A, dtype: int32

In [7]:
df1[0:2] # 取0--1行

            A  B  C  D
2019-01-26  0  1  2  3
2019-01-27  4  5  6  7

In [8]:
df1['20190126':'20190128'] # 根据索引取指定范围行

            A  B   C   D
2019-01-26  0  1   2   3
2019-01-27  4  5   6   7
2019-01-28  8  9  10  11

In [11]:
df1.loc['20190126'] # 提取索引为 20190126 的所有列

A    0
B    1
C    2
D    3
Name: 2019-01-26 00:00:00, dtype: int32

In [13]:
df1.loc['20190126',['A','C']] # 提取索引为 20190126 的 A 和 C 列

A    0
C    2
Name: 2019-01-26 00:00:00, dtype: int32

In [14]:
df1.loc[:,['A','B']]

             A   B
2019-01-26   0   1
2019-01-27   4   5
2019-01-28   8   9
2019-01-29  12  13
2019-01-30  16  17
2019-01-31  20  21

In [15]:
# 通过位置选择数据
df1.iloc[2] # 取第二行

A     8
B     9
C    10
D    11
Name: 2019-01-28 00:00:00, dtype: int32

In [16]:
df1.iloc[1:3,2:4]

             C   D
2019-01-27   6   7
2019-01-28  10  11

In [17]:
df1.iloc[[1,2,4],[1,3]]

             B   D
2019-01-27   5   7
2019-01-28   9  11
2019-01-30  17  19

In [19]:
# 混合标签位置选择
df1.ix[2:4,['A','C']]

D:\install\Anaconda\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

             A   C
2019-01-28   8  10
2019-01-29  12  14

In [20]:
df1

             A   B   C   D
2019-01-26   0   1   2   3
2019-01-27   4   5   6   7
2019-01-28   8   9  10  11
2019-01-29  12  13  14  15
2019-01-30  16  17  18  19
2019-01-31  20  21  22  23

In [21]:
df1.ix['20190126':'20190128',2:4]

D:\install\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

             C   D
2019-01-26   2   3
2019-01-27   6   7
2019-01-28  10  11

In [22]:
df1.A > 6 # 将 df1 的 A列取出来，判断是否大于6

2019-01-26    False
2019-01-27    False
2019-01-28     True
2019-01-29     True
2019-01-30     True
2019-01-31     True
Freq: D, Name: A, dtype: bool

In [24]:
df1[df1.A>6] # 筛选 A 列中大于6的所有行

             A   B   C   D
2019-01-28   8   9  10  11
2019-01-29  12  13  14  15
2019-01-30  16  17  18  19
2019-01-31  20  21  22  23